In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
class Levenshtein:
    """Calculate levenshtein distance of words"""
    def __init__(self):
        # key locations
        self.key_locs = {'q': (0, 0), 'w': (1, 0), 'e': (2, 0), 'r': (3, 0),
                         't': (4, 0), 'y': (5, 0), 'u': (6, 0), 'i': (7, 0),
                         'o': (8, 0), 'p': (9, 0), 'a': (0, 1), 'z': (0, 2),
                         's': (1, 1), 'x': (1, 2), 'd': (2, 1), 'c': (2, 2),
                         'f': (3, 1), 'b': (4, 2), 'm': (5, 2), 'j': (6, 1),
                         'g': (4, 1), 'h': (5, 1), 'k': (7, 1), 'l': (8, 1),
                         'v': (3, 2), 'n': (5, 2)}
        # keys
        self.keys = list(self.key_locs.keys())
        # manhattan and euclidean key distances matrix
        self.manhattan_dist_matrix = np.zeros((len(self.keys), len(self.keys)))
        self.euclidean_dist_matrix = np.zeros((len(self.keys), len(self.keys)))
        # loop for calculating distances of keys
        for i in range(len(self.keys)):
            for j in range(len(self.keys)):
                dist_x = abs(self.key_locs[self.keys[i]][0] - self.key_locs[self.keys[j]][0])
                dist_y = abs(self.key_locs[self.keys[i]][1] - self.key_locs[self.keys[j]][1])
                # manhattan
                self.manhattan_dist_matrix[i, j] = dist_x + dist_y
                # euclidean
                self.euclidean_dist_matrix[i, j] = (dist_x ** 2 + dist_y ** 2) ** .5
        # max distances
        self.max_manhattan = np.max(self.manhattan_dist_matrix)
        self.max_euclidean = np.max(self.euclidean_dist_matrix)
        # weight coefficients
        # scale coef scales edit sizes to between 0 and scale coef
        self.scale_coef = 2
        self.manhattan_coef = self.scale_coef / self.max_manhattan
        self.euclidean_coef = self.scale_coef / self.max_euclidean
    
    def key_distance(self, x, y, type="manhattan"):
        """Return distance of two keys in qwerty keyboard
        based on manhattan or euclidean distance."""
        if type == "manhattan":
            return self.manhattan_dist_matrix[self.keys.index(x), self.keys.index(y)]
        elif type == "euclidean":
            return self.euclidean_dist_matrix[self.keys.index(x), self.keys.index(y)]
    
    def distance_matrix(self, x, y, keyboard_weight=None):
        """Calculate matrix of number of edits to convert 
        every subset of y to every subset of x"""
        # create distance matrix
        size_x = len(x) + 1
        size_y = len(y) + 1
        dist_matrix = np.zeros((size_x, size_y))
        for i in range(size_x):
            dist_matrix[i, 0] = i
        for j in range(size_y):
            dist_matrix[0, j] = j

        ## fill distance matrix
        # no keyboard weight
        if not keyboard_weight:
            for i in range(1, size_x):
                for j in range(1, size_y):
                    # if letters are same
                    if x[i-1] == y[j-1]:
                        dist_matrix[i, j] = dist_matrix[i-1, j-1]
                    # if letters are different
                    else:
                        subs = dist_matrix[i-1, j-1] + 1
                        delete = dist_matrix[i-1, j] + 1
                        insert = dist_matrix[i, j-1] + 1 
                        dist_matrix[i, j] = min(subs, delete, insert)
        # manhattan keyboard weight
        elif keyboard_weight == "manhattan":
            for i in range(1, size_x):
                for j in range(1, size_y):
                    # if letters are same
                    if x[i-1] == y[j-1]:
                        dist_matrix[i, j] = dist_matrix[i-1, j-1]
                    # if letters are different
                    else:
                        dist = self.key_distance(x[i-1], y[j-1], keyboard_weight)
                        subs_weight = dist * self.manhattan_coef
                        subs = dist_matrix[i-1, j-1] + subs_weight
                        delete = dist_matrix[i-1, j] + 1
                        insert = dist_matrix[i, j-1] + 1 
                        dist_matrix[i, j] = min(subs, delete, insert)
        # euclidean keyboard weight
        elif keyboard_weight == "euclidean":
            for i in range(1, size_x):
                for j in range(1, size_y):
                    # if letters are same
                    if x[i-1] == y[j-1]:
                        dist_matrix[i, j] = dist_matrix[i-1, j-1]
                    # if letters are different
                    else:
                        dist = self.key_distance(x[i-1], y[j-1], keyboard_weight)
                        subs_weight = dist * self.euclidean_coef
                        subs = dist_matrix[i-1, j-1] + subs_weight
                        delete = dist_matrix[i-1, j] + 1
                        insert = dist_matrix[i, j-1] + 1 
                        dist_matrix[i, j] = min(subs, delete, insert)
        
        return dist_matrix
    
    def distance(self, x, y, keyboard_weight=None):
        """Calculate number of edits to convert y to x"""
        dist_matrix = self.distance_matrix(x, y, keyboard_weight)
        return dist_matrix[-1, -1]
    
    def distance_dataframe(self, x, y, keyboard_weight=None):
        """Return a dataframe of distance matrix of x and y
        indexes is letters of x and columns are letters of y"""
        dist_matrix = self.distance_matrix(x, y, keyboard_weight)
        dist_df = pd.DataFrame(dist_matrix, index=["", *list(x)], 
                               columns=["", *list(y)])
        return dist_df
        
    def similarity(self, x, y, keyboard_weight=None):
        """Calculate similarity of two words
        Return a number between 0 and 1
        (1 means same and 0 means fully different)"""
        dist = self.distance(x, y, keyboard_weight)
        max_len = max(len(x), len(y))
        max_dissimilarity = max_len * self.scale_coef
        similarity = 1 - dist / max_dissimilarity
        return similarity

In [4]:
LD = Levenshtein()
LD.similarity("sar", "sat", "manhattan")

0.9696969696969697

In [5]:
LD.distance_matrix("yatak", "yatal")

array([[0., 1., 2., 3., 4., 5.],
       [1., 0., 1., 2., 3., 4.],
       [2., 1., 0., 1., 2., 3.],
       [3., 2., 1., 0., 1., 2.],
       [4., 3., 2., 1., 0., 1.],
       [5., 4., 3., 2., 1., 1.]])

In [5]:
LD.distance_dataframe("zero", "petric", "manhattan")

               p         e         t         r         i         c
   0.0  1.000000  2.000000  3.000000  4.000000  5.000000  6.000000
z  1.0  2.000000  1.727273  2.727273  3.727273  4.727273  5.363636
e  2.0  2.272727  2.000000  2.090909  2.909091  3.909091  4.909091
r  3.0  3.090909  2.454545  2.181818  2.090909  3.090909  4.090909
o  4.0  3.181818  3.454545  3.181818  3.090909  2.272727  3.272727

In [6]:
LD.distance_dataframe("helin", "yigit", "euclidean")

              y         i         g         i         t
   0.0  1.00000  2.000000  3.000000  4.000000  5.000000
h  1.0  0.21693  1.216930  2.216930  3.216930  4.216930
e  2.0  1.21693  1.301583  1.702002  2.702002  3.650791
l  3.0  2.21693  1.523716  2.169305  2.008788  3.008788
i  4.0  3.21693  2.216930  2.209711  2.169305  2.659579
n  5.0  4.21693  3.216930  2.523716  2.823283  2.654376

In [7]:
LD.similarity("madem", "mat", "manhattan")

0.7636363636363637

In [7]:
LD.distance_dataframe("yatak", "yatam", "euclidean")

          y    a    t    a         m
   0.0  1.0  2.0  3.0  4.0  5.000000
y  1.0  0.0  1.0  2.0  3.0  4.000000
a  2.0  1.0  0.0  1.0  2.0  3.000000
t  3.0  2.0  1.0  0.0  1.0  2.000000
a  4.0  3.0  2.0  1.0  0.0  1.000000
k  5.0  4.0  3.0  2.0  1.0  0.485071

In [29]:
LD.similarity("refrigirator", "refrigeretir", "manhattan")

0.9318181818181818

In [19]:
LD.distance_dataframe("manhattan", "mannhatan", "manhattan")

,,m,a,n,n,h,a,t,a,n
,0.0,1.0,2.0,3.0,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000
m,1.0,0.0,1.0,2.0,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000
a,2.0,1.0,0.0,1.0,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000
n,3.0,2.0,1.0,0.0,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000
h,4.0,3.0,2.0,1.0,0.181818,1.000000,2.000000,3.000000,4.000000,5.000000
a,5.0,4.0,3.0,2.0,1.181818,1.090909,1.000000,2.000000,3.000000,4.000000
t,6.0,5.0,4.0,3.0,2.181818,1.545455,2.000000,1.000000,2.000000,3.000000
t,7.0,6.0,5.0,4.0,3.181818,2.545455,2.454545,2.000000,1.909091,2.545455
a,8.0,7.0,6.0,5.0,4.181818,3.545455,2.545455,3.000000,2.000000,3.000000
n,9.0,8.0,7.0,6.0,5.000000,4.363636,3.545455,3.090909,3.000000,2.000000

In [9]:
LD.distance_dataframe("aaaaa", "ppppp", "euclidean")

               p         p         p         p         p
   0.0  1.000000  2.000000  3.000000  4.000000  5.000000
a  1.0  1.964389  2.964389  3.964389  4.964389  5.964389
a  2.0  2.964389  3.928778  4.928778  5.928778  6.928778
a  3.0  3.964389  4.928778  5.893167  6.893167  7.893167
a  4.0  4.964389  5.928778  6.893167  7.857555  8.857555
a  5.0  5.964389  6.928778  7.893167  8.857555  9.821944

In [9]:
words = ["flower", "floer", "floder", "man", "kill"]
for i in words:
    for j in words[words.index(i):]:
        print(i, j)
        print(LD.similarity(i, j, "manhattan"))
        print()

flower flower
1.0

flower floer
0.9166666666666666

flower floder
0.9696969696969697

flower man
0.6136363636363635

flower kill
0.6363636363636365

floer floer
1.0

floer floder
0.9166666666666666

floer man
0.6181818181818182

floer kill
0.6636363636363637

floder floder
1.0

floder man
0.6136363636363635

floder kill
0.6363636363636365

man man
1.0

man kill
0.5340909090909091

kill kill
1.0

In [10]:
cars_df = pd.read_csv("datasets\cars_updated.csv")

In [11]:
cars_makes = cars_df["make"].unique()

In [12]:
for i in range(len(cars_makes)):
    cars_makes[i] = cars_makes[i].lower()
    cars_makes[i] = re.sub(r'[^\w]', '', cars_makes[i])

In [13]:
cars_makes

array(['audi', 'acura', 'bmw', 'chevrolet', 'nissan', 'volvo', 'bentley',
       'toyota', 'honda', 'ford', 'rollsroyce', 'volkswagen', 'maybach',
       'lamborghini', 'lexus', 'hyundai', 'mercedes', 'bmwmotorrad',
       'kia', 'amg', 'mazda', 'mercedesbenz', 'mercedesamg', 'mitsubishi',
       'cadillac', 'infiniti', 'dodge', 'lincoln', 'gmc', 'porsche',
       'jeep', 'subaru', 'buick', 'suzuki', 'saab', 'astonmartin',
       'grandcherokee', 'landrover', 'chrysler', 'ferrari', 'scion',
       'mini', 'jaguar', 'chryslergroupllc', 'lotus', 'maserati',
       'mercury'], dtype=object)

In [14]:
car = "ausi"

In [15]:
cars_sim = np.array([LD.similarity(car, i, "manhattan") for i in cars_makes])
cars_sim

array([0.97727273, 0.7       , 0.67045455, 0.64141414, 0.66666667,
       0.71818182, 0.66883117, 0.63636364, 0.60909091, 0.68181818,
       0.63636364, 0.61818182, 0.72077922, 0.64049587, 0.66363636,
       0.70779221, 0.61363636, 0.60743802, 0.67045455, 0.73863636,
       0.59090909, 0.59090909, 0.59917355, 0.69090909, 0.64772727,
       0.65909091, 0.73636364, 0.62987013, 0.67045455, 0.59090909,
       0.68181818, 0.78787879, 0.75454545, 0.78787879, 0.68181818,
       0.65702479, 0.61888112, 0.67171717, 0.68181818, 0.69480519,
       0.64545455, 0.72727273, 0.75757576, 0.59659091, 0.62727273,
       0.70454545, 0.68181818])

In [16]:
cars_makes[cars_sim.argmax()]

'audi'

In [18]:
cars_sim.max()

0.9772727272727273

In [21]:
(cars_sim > 0.7).sum()

12

In [16]:
cars_makes[cars_sim.argsort()[::-1]]

array(['audi', 'subaru', 'suzuki', 'jaguar', 'buick', 'amg', 'dodge',
       'mini', 'maybach', 'volvo', 'hyundai', 'maserati', 'acura',
       'ferrari', 'mitsubishi', 'chrysler', 'jeep', 'ford', 'mercury',
       'saab', 'landrover', 'bmw', 'kia', 'gmc', 'bentley', 'nissan',
       'lexus', 'infiniti', 'astonmartin', 'cadillac', 'scion',
       'chevrolet', 'lamborghini', 'toyota', 'rollsroyce', 'lincoln',
       'lotus', 'grandcherokee', 'volkswagen', 'mercedes', 'honda',
       'bmwmotorrad', 'mercedesamg', 'chryslergroupllc', 'mercedesbenz',
       'porsche', 'mazda'], dtype=object)